.card-container {
  max-width: 1440px;
  margin: 50px auto;

  .card-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-column-gap: 50px;
  }

  @media (max-width: 1520px) {
    max-width: initial;
    width: 100%;
    margin: 50px auto 50px 0;

    .card-content {
      padding: 0 80px;
    }
  }

  @media (max-width: 768px) {
    margin: 30px auto 50px 0;
    .card-content {
      padding: 0 50px;
    }
  }
  @media (max-width: 425px) {
    .card-content {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
}
